<a href="https://colab.research.google.com/github/alaazarour/lecture-python/blob/main/lect1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name="alaa"
age=22
print(name)
print(age)
j=2
a=4+5*j
print(a)
print("hello")

alaa
22
14
hello

In [2]:
str='pynative'
print(str)
print(str[-1])
print(str[0:5])
print(len(str))
print(str+ ' '+'course')

pynative
e
pynat
8
pynative course

In [3]:
my_list=['alaa', 10,20,'mais',50,10.5]
print(my_list)
print(my_list[0])
print(my_list[1:5])
my_list.append('hi')
print(my_list)

['alaa', 10, 20, 'mais', 50, 10.5]
alaa
[10, 20, 'mais', 50]
['alaa', 10, 20, 'mais', 50, 10.5, 'hi']

In [4]:
def test1():
  price=100
  print(price)

def test2():
 name='alla'
 print(name)

test1()
test2()

100
alla

In [5]:
x=2.2
y=4.2
print(y//x)

print(100 or 200)
print(400 and 600)

1.0
100
600

In [6]:
a=1
if not a:
  print (a)
else:
   # print('hi')

 my_list =[10,20,30]
number=15
if number in my_list:
  print(number)

In [7]:
my_dict={1:'alaa',2:'mais',3:'maram'}
print(my_dict)
print(type(my_dict))
print(my_dict[1])

{1: 'alaa', 2: 'mais', 3: 'maram'}
<class 'dict'>
alaa

In [8]:
numbers=range(10,15)
print(type(numbers))
for i in range(10,15):
  print(i)

<class 'range'>
10
11
12
13
14

In [11]:
password=input('enter password')
if password =="alaa@19":
    print('correct pass')
else:
      print('incorrect pass')

enter passwordalaa@19
correct pass

In [12]:
 for i in range (1,11):
      print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
 num1=int(input('enter num'))
 num2=int(input('enter num'))
 if num1>num2 :
  print (num1)

enter num10
enter num3
10

In [18]:
x=1
while x<=5 :
 print(x);
 x=x+1

1
2
3
4
5

In [19]:
plat=['plaa']
plat[0]='a'
print(plat)

['a']

In [20]:
for num in range (10):
  if num > 5 :
   print('stop')
   break
  print(num)

0
1
2
3
4
5
stop