<a href="https://colab.research.google.com/github/alaazarour/lecture-python/blob/main/lect3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random
print(random.random())

0.6364809825426082

In [ ]:
import random
print(random.randint(10, 20))

13

In [ ]:
import random
print(random.randrange(10, 20,2))

12

In [ ]:
print(random.uniform(5, 25))

5.566949530440127

In [ ]:
print(random.choice([10, 20, 30, 40, 50]))

20

In [ ]:

x = [10, 20, 30, 40, 50, 60]
random.shuffle(x)
print(x)

[40, 20, 60, 30, 10, 50]

In [ ]:
random.seed(1)
print(random.randint(10, 20))

12

In [ ]:
print(random.choices([10, 20, 30, 40, 50], k=3))

[40, 30, 20]

In [ ]:
print(random.sample([10, 20, 30, 40, 50], k=3))

[20, 10, 50]

In [ ]:
import pandas as pd
fruits_list = ['Apple', 10, 'Orange', 55.50]
print(fruits_list)
fruits_df = pd.DataFrame(fruits_list)
print(fruits_df)

['Apple', 10, 'Orange', 55.5]
        0
0   Apple
1      10
2  Orange
3    55.5

In [ ]:
import pandas as pd

# Create list
price_list = ['50', '100', '60', '20']
print(price_list)

# Create DataFrame from list
price_df = pd.DataFrame(price_list)
print("Data type before : ", price_df.dtypes)

# Create DataFrame from list with type change
price_df = pd.DataFrame(price_list, dtype='float64')
print("Data type after : ", price_df.dtypes)
print(price_df)

['50', '100', '60', '20']
Data type before :  0    object
dtype: object
Data type after :  0    float64
dtype: object
       0
0   50.0
1  100.0
2   60.0
3   20.0

In [ ]:
import pandas as pd

# Create list
fruits_list = [['Apple', 'Banana', 'Orange', 'Mango'],[120, 40, 80, 500]]
print(fruits_list)

# Create DataFrame from list
fruits_df = pd.DataFrame(fruits_list).transpose()
print(fruits_df)

[['Apple', 'Banana', 'Orange', 'Mango'], [120, 40, 80, 500]]
        0    1
0   Apple  120
1  Banana   40
2  Orange   80
3   Mango  500

In [ ]:
import pandas as pd

# Create multiple lists
fruits_list = ['Apple', 'Banana', 'Orange', 'Mango']
price_list = [120, 40, 80, 500]

# Create DataFrame
fruits_df = pd.DataFrame(list(zip(fruits_list, price_list )), columns = ['Name', 'Price'])
print(fruits_df)

     Name  Price
0   Apple    120
1  Banana     40
2  Orange     80
3   Mango    500

In [ ]:
import pandas as pd

# Create multiple lists
fruits_list = ['Apple', 'Banana', 'Orange', 'Mango']
price_list = [120, 40, 80, 500]

# Create dict
fruits_dict = {'Name': fruits_list,
               'Price': price_list}
print(fruits_dict)

# Create DataFrame from dict
fruits_df = pd.DataFrame(fruits_dict)
print(fruits_df)
print('/n')
topRows = fruits_df.head(2)
print(topRows)
print('/n')
bottomRows = fruits_df.tail(3)
print(bottomRows)

{'Name': ['Apple', 'Banana', 'Orange', 'Mango'], 'Price': [120, 40, 80, 500]}
     Name  Price
0   Apple    120
1  Banana     40
2  Orange     80
3   Mango    500
/n
     Name  Price
0   Apple    120
1  Banana     40
/n
     Name  Price
1  Banana     40
2  Orange     80
3   Mango    500

In [ ]:
import pandas as pd

student_dict = {'Name': ['Joe', 'Nat', 'Harry',], 'Age': [20, 21, 19], 
                'Marks': [85.10, 77.80, 91.54]}

# create DataFrame from dict
student_df = pd.DataFrame(student_dict)

value = student_df.at[2,"Age"]
print(value) 

#update value col=age ,index=2
student_df.at[2,"age"]=50
print(student_df.at[2,"age"])

#drop col
#student_df=student_df.drop(columns='age')

19
50.0