<a href="https://colab.research.google.com/github/alaazarour/lecture-python/blob/main/lecture2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def test(a,b,op):
  if op=='+':
    add=a+b
    return add
  elif op=='-':
      sub=a-b
      return sub
  else:
      print('no')


test(2,3,'+')

5

In [ ]:
def cal(num1,num2):
 add= num1+num2 
 sub=num1-num2
 mult=num1*num2
 div=num1/num2
 return add,sub,mult,div

a,b,c,d=cal(5,4)
print('add=',a)
print('sub=',b)
print('mult=',c)
print('div=',d)

add= 9
sub= 1
mult= 20
div= 1.25

In [ ]:
def cal(num1,num2,op):
  num1=input(int('enter'))
  num2=input(int('enter'))
  if op=='+':
   return num1+num2
  elif op=='-':
   return num1-num2
  else:
   print('no')
   
 
 print(cal(num1,num2,'+'))

IndentationError: ignored

In [ ]:

from datetime import date
def birth():
  now=datetime.datetime.now
  birth_date=datetime.date(1999,10, 19)
  years=now-birth_date
  print(years)

In [ ]:
from datetime import date
 
def calculateAge(birthDate):
    today = date.today()
    age = today.year - birthDate.year 
    return age
     

print(calculateAge(date(1999, 10, 19)), "years")

22 years

In [ ]:
previous_num = 0

for i in range(1, 11):
    x_sum = previous_num + i
    print("Current Number", i, "Previous Number ", previous_num, " Sum: ", previous_num + i)
    previous_num = i

Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17
Current Number 10 Previous Number  9  Sum:  19

In [ ]:
password= input('Enter password')
print("Original:", password)
x = list(password)
for i in x[0::2]:
    print(i)

Enter passwordalaazarour
Original: alaazarour
a
a
z
r
u

In [ ]:
word= input('enter')
def remove_chars(n):
    print('Original string:', word)
    x = word[n:]
    return x
print(remove_chars(4))

enteralaaesam
Original string: alaaesam
esam

In [ ]:
class student :
  def __init__(self,name,age):
   self.name=name
   self.age=age 
  def show(self):
   print("name is",self.name ,"age is", self.age)
obj=student('alaa',22)
obj.show()

name is alaa age is 22

In [ ]:
num_list = [10, 20, 33, 66, 55]
print("Given list:", num_list)
print('Divisible by 5:')
for i in num_list:
    if i % 5 == 0:
        print(i)

Given list: [10, 20, 33, 66, 55]
Divisible by 5:
10
20
55

In [ ]:
str_x = "Emma is good developer. Emma is a writer"
cnt = str_x.count("Emma")
print(cnt)

2

In [ ]:
for num in range(6):
    for i in range(num):
        print (num, end=" ") 
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [ ]:
def merge_list(list1, list2):
    result_list = []
    
    # iterate first list
    for num in list1:
        # check if current number is odd
        if num % 2 != 0:
            # add odd number to result list
            result_list.append(num)
    
    # iterate second list
    for num in list2:
        # check if current number is even
        if num % 2 == 0:
            # add even number to result list
            result_list.append(num)
    return result_list

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
print("result list:", merge_list(list1, list2))

result list: [25, 35, 40, 60, 90]